.blog {
  position: relative;
  display: flex;
  justify-content: center;
  .blog-curvy-bg {
    position: absolute;
    bottom: 404px;
    //left: 1211px;
    left: 75.6875%;
    z-index: -1;
  }

  .blog-bg {
    position: absolute;
    z-index: -1;
  }

  .blog-wrapper {
    padding-top: 275px;
    width: 1204px;
    margin: 0 auto;
    
    h5, h2 {
      color: #333234;
      //font-family: "Proxima Nova";
      font-weight: 700;
      text-align: center;
    }

    h5 {
      opacity: 0.8;
      font-size: 18px;
      text-transform: uppercase;
      letter-spacing: 3.6px;
      margin-bottom: 21px;
      font-family: 'ProximaNovaExBold' !important;
    }

    h2 {
      font-size: 72px; 
      letter-spacing: -2.91px;
      margin-bottom: 33px;
      font-family: 'ProximaNovaBold' !important;
    }

    .blog-wrapper-bottom {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .blog-wrapper-bottom-content {
        //position: relative;
        width: 383px;
        background-color: #f7f7f7;
        border-radius: 30px;

        .bottom-block {
          padding: 42px 39px 47px 39px;

          .calendar-content {
            display: flex;
            margin-bottom: 12px;

            h6 {
              opacity: 0.8;
              color: #333234;
              //font-family: "Proxima Nova";
              font-size: 18px;
              font-weight: 400;
              letter-spacing: 0.18px;
              margin-left: 7px;
            }
          }

          h4 {
            color: #333234;
            //font-family: "Proxima Nova";
            font-family: 'ProximaNovaExBold' !important;
            font-size: 22px;
            font-weight: 700;
            letter-spacing: 0.22px;
            margin-bottom: 17px;
          }

          .transparent-btn {
            font-family: 'ProximaNovaBold' !important;
            text-align: left;
            padding-left: 0;
            padding-right: 0;
            width: 107px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1601px) {
  .blog {
    .blog-bg {
      width: 100%;
    }
  }
}

@media screen and(max-width: 1188px) {
  .blog {
    .blog-wrapper {
      width: unset;

      .blog-wrapper-bottom {
        justify-content: space-between;
        
        .blog-wrapper-bottom-content {
          width: 28vw;

          &:nth-child(2) {
            margin-left: 25px;
            margin-right: 25px;
          }

          & > img {
            width: 28vw;
          }

          .bottom-block {
            padding: 42px 46px 47px 39px;
          }
        }
      }
    }
  }
}

@media screen and(max-width: 927px) {
  .blog {
    .blog-wrapper {
      .blog-wrapper-bottom {
        .blog-wrapper-bottom-content {
          .bottom-block {
            padding: 31px 39px 37px 39px;
            h4 {
              font-size: 19px;
            }

            & > .transparent-btn {
              width: 118px;
              height: 27px;
              font-size: 19px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 890px) {
  .blog {
    .blog-curvy-bg {
      display: none;
    }
  }
}

@media screen and(max-width: 881px) {
  .blog {
    .blog-bg {
      margin-top: -71px;
    }

    .blog-wrapper {
      padding-top: 160px;

      h5 {
        font-size: 17px;
        margin-bottom: 14px;
      }

      h2 {
        font-size: 68px;
      }

      .blog-wrapper-bottom {
        flex-wrap: wrap;
        justify-content: space-evenly;

        .blog-wrapper-bottom-content {
          width: 42%;

          &:nth-child(2) {
            margin-left: 0;
            margin-right: 0;
          }

          &:nth-child(3) {
            margin-top: 30px;
          }

          & > img {
            width: 42vw;
          }

          .bottom-block {
            padding: 31px 39px 37px 39px;
            h4 {
              font-size: 19px;
            }
          }
        }
      }
    }
  }
}

@media screen and(max-width: 587px) {
  .blog {
    .blog-wrapper {
      h5 {
        margin-bottom: 11px;
      }

      h2 {
        font-size: 62px;
      }
      
      .blog-wrapper-bottom {
        .blog-wrapper-bottom-content {
          width: 86%;

          &:nth-child(1) {
            margin-bottom: 30px;
          }

          & > img {
            width: 86vw;
          }

          .bottom-block {
            padding: 28px 29px 37px 29px;

            h4 {
              font-size: 17px;
            }
          }
        }
      }
    }
  }
}

@media screen and(max-width: 338px) {
  .blog {
    .blog-wrapper {
      h5 {
        font-size: 16px;
        margin-bottom: 7px;
      }

      h2 {
        font-size: 54px;
        margin-bottom: 26px;
      }
      .blog-wrapper-bottom {
        .blog-wrapper-bottom-content {
          .bottom-block {
            h4 {
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}
