.our-family {
  width: 1600px;
  height: 643px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  p {
    font-family: 'ProximaNovaExBold' !important;
    font-weight: 700;
    color: #333234;
    text-align: center;
  }

  &-header-one {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    padding-bottom: 15px;
  }

  p.our-family-header-two {
    font-family: 'ProximaNovaBold' !important;
    width: 640px;
    font-size: 72px;
    letter-spacing: -2.91px;
    padding-bottom: 60px;
  }

  &-logos {
    padding-bottom: 175px;
  }

  &-background {
    top: 109px;
    position: absolute;
    z-index: -1;
  }

}

@media screen and(max-width: 1599px) {
  .our-family {
    width: 1170px;
  }
}

@media screen and(max-width: 1170px) {
  .our-family {
    width: unset;
    
    .our-family-header-two {
      width: 65vw !important;
      font-size: 68px;
    }

    .our-family-logos {
      padding-bottom: 10vw;
      width: 98vw;
    }
  }
}

@media screen and(max-width: 738px) {
  .our-family {
    margin-top: -83px;
  }
}

@media screen and(max-width: 681px) {
  .our-family {
    margin-top: -92px;

    .our-family-header-one {
      padding-bottom: 12px;
      font-size: 17px;
    }

    .our-family-header-two {
      width: 81vw !important;
      font-size: 51px;
    }

    .our-family-logos {
      padding-bottom: 10vw;
      width: 98vw;
    }
  }
}

@media screen and(max-width: 606px) {
  .our-family {
    margin-top: -151px;
  }
}

@media screen and(max-width: 399px) {
  .our-family {
    .our-family-header-one {
      font-size: 16px;
    }

    .our-family-header-two {
      font-size: 44px;
    }

    .our-family-logos {
      width: 124vw;
    }
  }
}
