.estimator-second {
  width: 1600px;
  height: 957px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;

  &-content-img {
    position: absolute;

    &:nth-child(1) {
      //top: 410px;
      top: 42.842215256%;
      //left: 148px;
      left: 9.25%;
    }

    &:nth-child(2) {
      //top: 211px;
      top: 22.0480668757%;
      //left: 728px;
      left: 45.5%;
      z-index: -1;
    }

    &:nth-child(3) {
      //top: 50px;
      top: 5.22466039707%;
      left: 0;
    }
  }

  &-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333234;

    &-title {
      font-size: 72px;
      font-weight: 700;
      line-height: 72px;
      letter-spacing: -2.91px;
      margin-bottom: 37px;
      //font-family: "Proxima Nova";
      font-family: Proxima Nova;
    }

    &-text {
      width: 563px;
      //font-family: "Proxima Nova";
      font-family: Proxima Nova;
      font-size: 18px;
      font-weight: 400;
      text-align: center;
      margin-bottom: 41px;
    }
  }
}

//RESPONSIVE
@media screen and (max-width: 1600px) {
  .estimator-second {
    width: 100vw;
  }
}

@media screen and (max-width: 1250px) {
  .estimator-second {
    &-content-img {
      &:nth-child(1) {
        width: 75%;
      }
      &:nth-child(2) {
        width: 60%;
      }
      &:nth-child(3) {
        width: 26%;
      }
    }
  }
}

@media screen and (max-width: 1170px) {
  .estimator-second {
    height: 850px;
    &-content-img {
      &:nth-child(3) {
        width: 19%;
      }
    }
    &-content {
      &-text {
        font-size: 16px;
      }
      .yellow-btn {
        font-size: 18px;
      }
    }
  }
}

@media screen and (max-width: 990px) {
  .estimator-second {
    height: 730px;
  }
}

@media screen and (max-width: 870px) {
  .estimator-second {
    &-content-img {
      &:nth-child(1) {
        top: 50.842215%;
      }
    }
  }
}

@media screen and (max-width: 820px) {
  .estimator-second {
    //height: 957px;
    height: auto;
    flex-direction: column-reverse;
    &-content-img {
      &:nth-child(1) {
        margin-top: 103px;
        padding: 0 15px;
        position: static;
        width: 100%;
      }
      &:nth-child(2) {
        display: none;
      }
      &:nth-child(3) {
        display: none;
      }
    }

    &-content {
      margin-top: -60px;
      position: static;
      padding: 0 15px;
      width: 100%;
      &-text {
        width: 100%;
        font-size: 18px;
      }
      .yellow-btn {
        font-size: 20px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .estimator-second {
    &-content {
      &-title {
        margin-bottom: 10px;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .estimator-second {
    &-content {
      &-title {
        font-size: 64px;
      }
    }
  }
}
