.comments {
  width: 1600px;
  margin: 222px auto 119px;
  position: relative;

  .pos-absolute {
    position: absolute;
  }

  &-background1 {
    top: 492px;
    left: 3px;
    z-index: -1;
  }

  &-background2 {
    top: -98px;
    left: 958px;
    z-index: -1;
  }

  &-background3 {
    width: 84px;
    height: 84px;
    border: 1px solid #ede811;
    border-radius: 50px;
    background-color: #f4f05e;
    top: -140px;
    left: 277px;
  }

  &-background4 {
    width: 134px;
    height: 134px;
    border: 8px solid #f4f05e;
    border-radius: 100px;
    background-color: transparent;
    z-index: -1;
    top: -83px;
    left: 365px;
  }

  .slider {

    //previous and next buttons
    .slick-arrow {
      display: flex !important;
      justify-content: center;
      align-items: center;
      border-color: transparent;
      border-radius: 50%;
      width: 132px;
      height: 132px;
      box-shadow: 0 1px 24px rgba(0, 0, 1, 0.1);
      background-color: #ffffff;
    }

    .slick-prev {
      left: 9.0625%;
      top: 350px;
    }

    .slick-prev:before, .slick-next:before {
      display: block;
      content: "";
      border-radius: 0;
      width: 15px;
      height: 15px;
      border-top-color: transparent;
      border-right-color: transparent;
      border-left: 5px solid #333234;
      border-bottom: 5px solid #333234;
      background-color: transparent;
    }

    .slick-prev:before {
      transform: rotate(45deg);
    }

    .slick-next {
      left: 82.6875%;
      top: 350px;
    }

    .slick-next:before {
      transform: rotate(225deg);
    }

    .slick-list {
      .slick-track {
        justify-content: space-between;
        .slick-slide {
          position: relative;
          margin-right: 0.44444444444% !important;

          & > div {
            width: 100%;
            display: flex;
            margin-bottom: 38px !important;

            .slider-item {
              margin-left: 0;
            }
          }

          & > div:nth-child(1) {
            position: inherit;
            right: -20.75% !important;
          }
          & > div:nth-child(2) {
            position: inherit;
            left: 73.8125% !important;
          }
        }
      }
    }

    &-item {
      text-align: left;
      padding: 27px 98px 76px 66px;
      box-shadow: 0 1px 32px rgba(0, 0, 1, 0.1);
      border: 2px solid #ede811;
      border-radius: 15px;
      background-color: #fff;

      &-img {
        width: 165px;
        height: 86px;
        display: flex;
        align-items: center;
      }

      &-text {
        padding: 10px 0 30px;
        color: #333234;
        //font-family: "Proxima Nova";
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
      }

      &-author {
        display: flex;
        flex-direction: column;
        color: #333234;

        span:nth-child(1) {
          font-size: 20px;
          font-weight: 700;
          font-family: 'ProximaNovaExBold' !important;
          padding-left: 2px;
          padding-bottom: 10px;
        }

        span:nth-child(2) {
          font-size: 18px;
          font-weight: 400;
          //font-family: "Proxima Nova";
          padding-left: 8px;
        }
      }
    }
  }
}

@media screen and(max-width: 1599px) {
  .comments {
    width: unset;
  }
}


@media screen and(max-width: 1286px) {
  .comments {
    .slider {
      .slick-arrow {
        width: 112px;
        height: 112px;
        top: 364px;
      }

      .slick-prev {
        left: 7vw;
      }

      .slick-next {
        left: 83.5vw;
      }

      .slick-list {
        .slick-track {
          .slick-slide {
            .slider-item {
              width: 622px !important;
              padding: 19px 53px 45px 60px;
              margin-left: 0;
              margin-right: 0;

              .slider-item-img {
                width: 26vw;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .slick-slide {
    div {
      .slider-item {
        &-text {
          font-size: 18px;
        }
      }
    }
  }
}

@media screen and(max-width: 1062px) {
  .comments {
    margin: 222px auto 61px;

  }
}

@media screen and(max-width: 1000px) {
  .comments {
    .slider {
      .slick-arrow {
        width: 99px;
        height: 99px;
      }

      .slick-next {
        left: 82.8vw;
      }

      .slick-list {
        .slick-track {
          .slick-slide {
            .slider-item {
              width: 548px !important;
              padding: 19px 36px 45px 45px;

              .slider-item-text {
                padding: 10px 0 23px;
              }

              .slider-item-author {
                span {
                  padding-bottom: 7px;
                }

                span:nth-child(1) {
                  font-size: 18px;
                }

                span:nth-child(2) {
                  font-size: 17px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and(max-width: 782px) {
  .comments {
    .slider {
      .slick-arrow {
        width: 80px;
        height: 80px;
        top: 387px;
      }

      .slick-next {
        left: 80.5vw;
      }

      .slick-list {
        .slick-track {
          .slick-slide {
            .slider-item {
              width: 420px !important;
              padding: 12px 26px 21px 28px;

              .slider-item-text {
                padding: 7px 0 20px;
                font-size: 17px;
                line-height: 23px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and(max-width: 738px) {
  .comments {
    margin: 222px auto 144px;
  }
}

@media screen and(max-width: 606px) {
  .comments {
    margin: 222px auto 236px;
    .slider {
      margin: 0 auto;

      .slick-arrow {
        width: 75px;
        height: 75px;
        top: 433px;
      }

      .slick-prev {
        left: 15px;
      }

      .slick-next {
        left: unset;
        right: 15px;
      }

      .slick-list {
        .slick-track {
          .slick-slide {
            transform: scale(1);
            transition: .3s ease-in-out all;
            margin-right: 0 !important;

            & > div:nth-child(1) {
              right: 0 !important;
              display: flex;
              justify-content: center;
            }

            .slick-slide.slick-center {
              margin: 0 auto;
            }

            .slider-item {
              width: 87vw !important;

              .slider-item-text {
                padding: 9px 0 30px;
                line-height: 24px;
                font-size: 18px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and(max-width: 494px) {
  .comments {
    .slider {
      .slick-arrow {
        top: 451px;
      }

      .slick-list {
        .slick-track {
          .slider-item {
            height: 387px;
          }
        }
      }
    }
  }
}

@media screen and(max-width: 416px) {
  .comments {
    .slider {
      .slick-arrow {
        top: 461px;
      }

      .slick-list {
        .slick-track {
          .slider-item {
            height: 440px;
          }
        }
      }
    }
  }
}

@media screen and(max-width: 374px) {
  .comments {
    .slider {
      .slick-arrow {
        top: 525px;
      }

      .slick-list {
        .slick-track {
          .slider-item {
            height: 490px;
          }
        }
      }
    }
  }
}
