@import "../../../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss";

.header {
  margin: 0 auto;
  width: 1600px;

  .inner-header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 37px;

    .logo-img {
      img {
        margin-left: 198px;
        width: 304px;
        height: 86px;
      }
    }

    .header-links {
      height: 86px;
      margin-right: 203px;
      padding-top: 23px;

      .hamburger {
        display: none;
      }

      .links-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 784px;
        height: 18px;

        .links-list-li {
          color: #333234;
          font-family: "Proxima Nova";
          font-size: 20px;
          font-weight: 400;
          letter-spacing: 0.5px;
          text-decoration: none;

          a {
            &:link {
              text-decoration: none;
              color: #333234;
              font-family: "Proxima Nova";
              font-size: 20px;
              font-weight: 400;
              letter-spacing: 0.5px;
            }

            &:active {
              color: #333234;
            }
          }
        }
      }
    }

  }
}

@media screen and(max-width: 1799px) {
  .header {
    overflow: hidden;
  }
}

@media screen and(max-width: 1599px) {
  .header {
    width: 1170px;

    .inner-header-content {
      .logo-img {
        img {
          margin-left: 0px;
        }
      }

      .header-links {
        margin-right: 0;
      }
    }
  }
}

@media screen and(max-width: 1170px) {
  .header {
    width: unset;

    .inner-header-content {
      .logo-img {
        img {
          margin-left: 35px;
          width: 270px;
          height: 76px;
        }
      }

      .header-links {
        margin-right: 35px;

        .links-list {
          width: 664px;
          height: unset;

          .links-list-li {
            font-size: 17px;

            a {
              &:link {
                font-size: 17px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and(max-width: 1100px) {
  .header {
    .inner-header-content {
      .logo-img {
        img {
          width: 234px;
          height: 66px;
          margin-bottom: 6px;
        }
      }

      .header-links {
        .links-list {
          width: 614px;

          .links-list-li {
            font-size: 15px;

            a {
              &:link {
                font-size: 15px;
              }
            }
          }
        }
      }
    }
  }
}

// @media screen and(max-width: 990px) {
//   .header {
//     .inner-header-content {
//       .logo-img {
//         img {
//           width: 204px;
//         }
//       }

//       .header-links {
//         .links-list {
//           width: 554px;
//         }
//       }
//     }
//   }
// }

@media screen and(max-width: 960px) {
  .header {
    height: 320px;

    .inner-header-content {
      .header-links {
        padding-top: 0;

        .hamburger {
          display: block;
        }

        .is-active {
          + .links-list {
            display: flex;
            flex-direction: column;
            width: 50px;
          }
        }

        .links-list {
          display: none;

          .links-list-li {
            padding: 6px;
            border-bottom: 1px solid #f7f7f7;
          }
        }
      }
    }
  }
}