@import "../../../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss";

.header {
  margin: 0 auto;
  width: 1600px;

  .inner-header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 37px;

    .logo-img {
      img {
        margin-left: 198px;
        width: 304px;
        height: 86px;
      }

      #yellow-grid {
        display: none;
      }
    }

    .header-links {
      height: 86px;
      margin-right: 203px;
      padding-top: 23px;

      .hamburger {
        display: none;
      }

      .links-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 784px;
        height: 18px;

        .links-list-li {
          position: relative;

          a {
            transition: all .3s;
            text-decoration: none;
            color: #333234;
            //font-family: "Proxima Nova";
            font-size: 20px;
            font-weight: 400;
            letter-spacing: 0.5px;

            &:visited {
              color: #333234;
            }
            &.active {
              color: #f4f05e;
            }
            &:hover {
              transition: all .3s;
              color: #f4f05e;
            }
          }
        }
      }
    }

  }
}

@media screen and(max-width: 1799px) {
  .header {
    overflow: hidden;
  }
}

@media screen and(max-width: 1599px) {
  .header {
    width: 1170px;

    .inner-header-content {
      .logo-img {
        img {
          margin-left: 0;
        }
      }

      .header-links {
        margin-right: 0;
      }
    }
  }
}

@media screen and(max-width: 1170px) {
  .header {
    width: unset;

    .inner-header-content {
      .logo-img {
        img {
          margin-left: 35px;
          width: 270px;
          height: 76px;
        }
      }

      .header-links {
        margin-right: 35px;

        .links-list {
          width: 664px;
          height: unset;

          .links-list-li {
            font-size: 17px;

            a {
              &:link {
                font-size: 17px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and(max-width: 1100px) {
  .header {
    .inner-header-content {
      .logo-img {
        img {
          width: 234px;
          height: 66px;
        }
      }

      .header-links {
        .links-list {
          width: 614px;

          .links-list-li {
            font-size: 15px;

            a {
              &:link {
                font-size: 15px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and(max-width: 960px) {
  .header {
    height: 106px;
    width: 100%;
    position: fixed;
    z-index: 99999;
    background-color: #fff;
    display: flex;
    align-items: center;
    .inner-header-content {
      width: 100vw;
      align-items: flex-start;
      margin-top: 0;

      .logo-img {
        z-index: 11;
      }

      .header-links {
        padding-top: 0;
        height: unset;

        .hamburger {
          display: block;
          z-index: 11;

          .hamburger-box {
            .hamburger-inner::before, .hamburger-inner::after {
              height: 3.6px;
            }
          }
        }

        .is-active {
          position: relative;
          float: right;

          + .links-list {
            padding-top: 106px;
            padding-bottom: 30px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            text-align: center;
            position: fixed;
            right: 0;
            background: #fff;
            //top: 314px;
            top: 0;
            width: 100%;
            z-index: 10;
            transition-timing-function: ease;
            //transform: scale(1.5);
            //padding-bottom: 22px;

            .yellow-circle {
              display: block;
              width: 98px;
              height: 98px;
              background-color: #f4f05e;
              border-radius: 50%;
              z-index: 9999;
              position: absolute;
              right: 20vw;
              top: -20px;
            }

            .links-list-li {
              a {
                font-size: 24px;
                position: relative;
                z-index: 999999;
              }
            }

            .brown-circle-one {
              display: block;
              width: 150px;
              height: 150px;
              border: 8px solid #ffa64d;
              border-radius: 50%;
              z-index: 9999;
              position: absolute;
              top: 32vw;
              left: -5vw;
            }
          }
        }

        .links-list {
          display: none;

          .links-list-li {
            padding: 2vh;
            border-bottom: none;
          }
        }
      }
    }
  }
}

@media screen and(max-width: 768px) {
  .header {
    .inner-header-content {
      margin-top: 20px;
    }
  }
}

@media screen and(max-width: 600px) {
  .header {
    .inner-header-content {
      .header-links {
        .hamburger {
          padding-right: 0;
        }
        .is-active {
          + .links-list {
            .yellow-circle {
              right: -3vw;
              top: 200px;
            }
            .brown-circle-one {
              top: 70vw;
              left: -10vw;
            }
          }
        }
      }
    }
  }
}

@media screen and(max-width: 506px) {
  .header {
    height: 89px;
    .inner-header-content {
      .logo-img {
        img {
          width: 180px;
          margin-right: 30px;
        }
      }

      .header-links {
        margin-right: 30px;

        .is-active {
          + .links-list {
            padding-top: 89px;
            .yellow-circle {
              width: 90px;
              height: 90px;
            }

            .brown-circle-one {
              top: 75vw;
              left: -6vw;
              width: 86px;
              height: 86px;
            }
          }
        }
      }
    }
  }
}

@media screen and(max-width: 388px) {
  .header {
    .inner-header-content {
      .logo-img {
        margin-left: -20px;
      }
      
      .header-links {
        margin-right: 15px;

        .hamburger {
          padding-right: 0;
        }

        .is-active {
          + .links-list {
            .yellow-circle {
              width: 83px;
              height: 83px;
            }

            .brown-circle-one {
              top: 90vw;
              width: 81px;
              height: 81px;
            }
          }
        }
      }
    }
  }
}
