.header {
  margin: 0 auto;
  width: 1600px;

  .inner-header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 37px;

    .logo-img {
      img {
        margin-left: 198px;
        width: 304px;
        height: 86px;
      }
    }

    .header-links {
      margin-right: 203px;
      .links-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 784px;
        height: 18px;

        .links-list-li {
          color: #333234;
          font-family: "Proxima Nova";
          font-size: 20px;
          font-weight: 400;
          letter-spacing: 0.5px;
          text-decoration: none;

          a {
            &:link {
              text-decoration: none;
              color: #333234;
              font-family: "Proxima Nova";
              font-size: 20px;
              font-weight: 400;
              letter-spacing: 0.5px;
            }

            &:active {
              color: #333234;
            }
          }
        }
      }
    }

  }
}
