.digital-product-content {
  position: relative;

  &-img {
    margin-top: -300px;
    position: absolute;
    z-index: -1;
  }

  &-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;

    &-left {
      display: flex;
      flex-direction: column;
      width: 40%;

      &-pre-title {
        width: 167px;
        opacity: 0.8;
        color: #333234;
        font-family: "Proxima Nova";
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 3.6px;
        margin-left: 13px;
        margin-bottom: 13px;
      }

      &-title {
        width: 431px;
        color: #333234;
        font-family: "Proxima Nova";
        font-size: 72px;
        font-weight: 700;
        line-height: 72px;
        letter-spacing: -2.91px;
        margin-bottom: 29px;
      }

      &-text {
        width: 492px;
        color: #333234;
        font-family: "Proxima Nova";
        font-size: 18px;
        font-weight: 400;
      }
    }

    &-right {
      width: 40%;
    }
  }
}
