@import "./reset";
@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap');
//////FONTS
@font-face {
  font-family: ProximaNova;
  src: url('../fonts/proxima-nova/ProximaNova-Regular.ttf') format("opentype");
}

@font-face {
  font-family: ProximaNovaSemibold;
  src: url('../fonts/proxima-nova/ProximaNova-Semibold.ttf') format("opentype");
}

@font-face {
  font-family: ProximaNovaBold;
  src: url('../fonts/proxima-nova/ProximaNova-Bold.ttf') format("opentype");
}

@font-face {
  font-family: ProximaNovaExBold;
  src: url('../fonts/proxima-nova/ProximaNova-Extrabld.ttf') format("opentype");
}
///////

*, a, p, span {
  font-family: 'ProximaNova', 'Raleway', sans-serif !important;

}
a, p, span {
  font-weight: 500;
}



.container {
  margin: 0 auto;
  width: 1170px;
}

.yellow-btn {
  color: #333234;
  font-family: 'ProximaNovaExBold' !important;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 30px;
  width: 215px;
  height: 57px;
  background-color: #f4f05e;
}

.transparent-btn {
  width: 125px;
  height: 30px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  border-bottom: 1px solid #333234;
  background-color: transparent;
  color: #333234;
  font-family: 'ProximaNovaBold' !important;
}

p {
  strong {
    font-weight: 700;
  }
}

@media screen and(max-width: 1799px) {
  main {
    overflow: hidden;
  }
}

@media screen and (max-width: 768px ) {
  [data-sal] {
    opacity: 1 !important;
    transform: translateX(0) !important;
}
}
