.services-container{
  display: flex;
  flex-direction: row;
  margin-top: 50px;

  .services-left {
    margin-left: 23px;

    .services-left-title {
      color: #333234;
      font-size: 89px;
      font-weight: 700;
      line-height: 90px;
      letter-spacing: -3.6px;
      margin-bottom: 41px;
      margin-top: 78px;
      margin-left: -5px;
    }

    .services-left-text {
      p {
        width: 435px;
        color: #333234;
        font-family: "Proxima Nova";
        font-size: 18px;
        font-weight: 400;
      }
    }
  }

  .services-right {
    margin-top: -30px;
    margin-left: -60px;
  }
}