.our-client {
  width: 1600px;
  height: 572px;
  margin: 0 auto;
  position: relative;

  img {
    position: absolute;
  }

  img:nth-child(1) {
    top: 42px;
    left: 269px;
  }
  img:nth-child(2) {
    top: -110px;
    left: 0;
    z-index: -1;
  }

  &-main {
    //margin: 132px 92px 145px 124px;
    margin: 132px auto 145px;
    p {
      color: #333234;
      //font-family: "Proxima Nova";
      font-family: Proxima Nova;
      text-align: center;
    }

    p:nth-child(1) {
      padding-bottom: 15px;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 3.6px;
    }
    p:nth-child(2) {
      font-size: 72px;
      font-weight: 700;
      letter-spacing: -2.91px;
    }
    div {
      width: fit-content;
      padding: 0 12px 8px;
      margin: 184px auto 0;
      border-bottom: 1px solid #333234;
      background-color: transparent;

      span {
        color: #333234;
        //font-family: "Proxima Nova - Semibold";
        font-family: Proxima Nova;
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 1px;
      }
    }

  }
}

@media screen and(max-width: 1599px) {
  .our-client {
    width: unset;
    margin: 0 auto;
    //height: unset;

    img:nth-child(1) {
      left: 50%; 
      transform: translate(-50%,0); 
    }

    .our-client-main {
      margin: 132px auto 214px;
    }
  }
}

@media screen and(max-width: 1044px) {
  .our-client {
    img:nth-child(1) {
      width: 86vw;
      margin-top: 2vw;
    }

    .our-client-main {
      p:nth-child(1) {
        padding-bottom: 5px;
        font-size: 17px;
      }

      p:nth-child(2) {
        font-size: 63px;
      }
    }
  }
}

@media screen and(max-width: 767px) {
  .our-client {
    img:nth-child(1) {
      margin-top: 40px;
    }

    .our-client-main {
      
      div {
        margin: 159px auto 0;
      }
    }
  }
}

@media screen and(max-width: 510px) {
  .our-client {
    .our-client-main {
      p:nth-child(1) {
        padding-bottom: 4px;
        font-size: 16px;
      }

      p:nth-child(2) {
        font-size: 60px;
      }

      div {
        margin: 127px auto 0;
      }
    }
  }
}

@media screen and(max-width: 398px) {
  .our-client {
    .our-client-main {
      margin: 73px auto 214px;
    }
  }
}
