.partners {
  position: relative;
  display: flex;
  justify-content: center;

  .partners-bg-grey {
    position: relative;
    z-index: -3;
  }

  .partners-bg-white {
    position: absolute;
    z-index: -2;
    top: -70px;
  }

  // .partners-logos {
  //   position: absolute;
  //   top: 250px;
  // }

  .partners-clouds-bg {
    position: absolute;
    top: 180px;
    right: 80px;
    z-index: -1;
  }
  
  .partners-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;

    h5, h2 {
      color: #333234;
      font-family: "Proxima Nova";
      font-family: Proxima Nova;
      text-align: center;
    }

    h5 {
      margin-top: 168px;
      opacity: 0.8;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 3.6px;
      margin-bottom: 21px;
    }

    h2 {
      margin-bottom: 33px;
      font-size: 72px;
      font-weight: 700;
      letter-spacing: -2.91px;
    }
  }
}

@media screen and (min-width: 1601px) {
  .partners {
    .partners-bg-grey {
      width: 100%;
      height: 30vw;
    }

    .partners-bg-white {
      width: 100%;
    }

    .partners-content {
      top: 7vw;
    }
  }
}


@media screen and(max-width: 767px) {
  .partners {
    .partners-content {
      h5 {
        font-size: 17px;
        margin-bottom: 10px;
      }

      h2 {
        font-size: 62px;
      }
    }
  }
}

@media screen and(max-width: 500px) {
  .partners {
    .partners-content {
      h5 {
        margin-bottom: 6px;
        margin-top: 140px;
      }

      h2 {
        font-size: 53px;
      }
    }
  }
}
