.partners {
  position: relative;
  display: flex;
  justify-content: center;

  .partners-bg-grey {
    position: relative;
    z-index: -3;
  }

  .partners-bg-white {
    position: absolute;
    z-index: -2;
    top: -70px;
  }

  // .partners-logos {
  //   position: absolute;
  //   top: 250px;
  // }

  .partners-clouds-bg {
    position: absolute;
    top: 180px;
    right: 80px;
    z-index: -1;
  }
  
  .partners-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;

    h5, h2 {
      color: #333234;
      font-family: "Proxima Nova";
      text-align: center;
    }

    h5 {
      margin-top: 168px;
      opacity: 0.8;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 3.6px;
      margin-bottom: 21px;
    }

    h2 {
      margin-bottom: 33px;
      font-size: 72px;
      font-weight: 700;
      letter-spacing: -2.91px;
    }
  }
}
