#leadership-content {
  margin-top: 187px;
  margin-bottom: 20px;

  .leadership-pre-title {
    opacity: 0.8;
    color: #333234;
    //font-family: "Proxima Nova";
    font-family: Proxima Nova;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    text-align: center;
  }

  .leadership-title {
    color: #333234;
    //font-family: "Proxima Nova";
    font-family: Proxima Nova;
    font-size: 89px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: -3.59px;
    margin-top: 25px;
    margin-bottom: 60px;
    text-align: center;
  }
}

//SLIDER STYLES
.slider, .slider-two {
  position: relative;

  .slider-item {
    position: relative;
    text-align: center;
    margin-left: 25px;

    .border-box-color {
      border: 8px solid #f2f2f2;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 203px;
      height: 202px;
      z-index: -2;
    }

    .leadership-team-content {
      position: relative;
      width: 157px;
      height: 157px;
      box-shadow: 0 1px 35px rgba(0, 0, 1, 0.13);
      border: 8px solid #ffffff;
      background-color: #fdfdfd;
      border-radius: 50%;
      z-index: 99;

      .johndoe-lawrence-first {
        position: absolute;
        left: 18px;
        top: 1px;
        width: 105px;
        height: 140px;
      }

      .johndoe-lawrence-img {
        position: absolute;
        left: 1px;
        top: 1px;
        width: 140px;
        height: 140px;
      }
    }

    .triangle-first {
      width: 60px;
      height: 60px;
      border-bottom: solid 30px #fff;
      border-right: solid 30px #fff;
      border-left: solid 30px transparent;
      border-top: solid 30px transparent;
      position: absolute;
      z-index: 0;
      margin-left: 80px;
      top: -12px;
    }

    .white-area {
      width: 40px;
      height: 147px;
      background-color: #fff;
      position: absolute;
      margin-left: 90px;
      z-index: 0;
    }

    .triangle-second {
      position: absolute;
      width: 60px;
      height: 30px;
      border-top: solid 30px #fff;
      border-left: solid 30px transparent;
      border-right: solid 30px transparent;
      z-index: 0;
      right: 13px;
      top: 163px;
    }

    .team-text {
      margin-top: 10px;

      h6, p {
        width: 203px;
        color: #333234;
        //font-family: "Proxima Nova";
        font-family: Proxima Nova;
        font-size: 18px;
        text-align: center;
      }

      h6 {
        font-weight: 700;
      }

      p {
        font-weight: 400;
      }
    }
  }

  .slick-track {
    display: flex;
    justify-content: space-around;
  }

  .slick-list {
    overflow: hidden;
  }

  //previous and next buttons
  .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    margin: -42px 0 0 0;
    border: 1px solid #e6e6e6;
    border-radius: 50%;
    background-color: #fff;
    width: 83px;
    height: 83px;
    font-size: 0;
  }

  .slick-prev {
    left: -101px;
  }

  .slick-prev:before {
    content: "←";
    color: #a6a6a6;
    font-size: 30px;
  }

  .slick-next {
    right: -101px;
  }

  .slick-next:before {
    content: "→";
    color: #a6a6a6;
    font-size: 30px;
  }
}

//ACTIVE SLIDE
.slick-slider {
  .slick-list {
    .slick-track {
      .slick-current {
        .border-box-color {
          border: 8px solid #f4f05e;
        }
      }
    }
  }
}

.slider-two {
  .slick-list {
    .slick-track {
      justify-content: flex-start;
    }
  }
}

@media screen and(max-width: 1386px) {
  #leadership-content {
    .slider, .slider-two {
      width: 80vw;

      .slick-list {
        .slider-item {
          margin-left: 9px;
        }
      }

      .slick-arrow  {
        width: 73px;
        height: 73px;
      }
    }
  }
}

@media screen and(max-width: 1248px) {
  #leadership-content {
    .slider {
      width: 76vw;
    }
  }
}

@media screen and(max-width: 1070px) {
  #leadership-content {
    .slider {
      width: 649px;

      .slick-arrow  {
        width: 55px;
        height: 55px;
        top: 40%;
      }

      .slick-prev {
        left: -65px;
      }

      .slick-next {
        right: -65px;
      }
    }
  }
}

@media screen and(max-width: 804px) {
  #leadership-content {
    .leadership-title {
      font-size: 81px;
      margin-top: 20px;
      margin-bottom: 48px;
    }

    .slider {
      width: 460px;

      .slick-arrow {
        width: 55px;
        height: 55px;
        top: 48%;
      }

      .slick-prev {
        left: -80px;
      }

      .slick-next {
        right: -60px;
      }
    }
  }
}

@media screen and(max-width: 767px) {
  #leadership-content {
    margin-top: 131px;
  }
}

@media screen and(max-width: 672px) {
  #leadership-content {
    .slider {
      width: 229px;
    }
  }
}

@media screen and(max-width: 545px) {
  #leadership-content {
    .leadership-title {
      font-size: 62px;
      margin-top: 13px;
      margin-bottom: 36px;
    }
  }
}

@media screen and(max-width: 545px) {
  #leadership-content {
    margin-top: 128px;
    margin-bottom: 5px;

    .leadership-title {
      font-size: 53px;
      margin-top: 2px;
      margin-bottom: 15px;
    }

    .slider {
      .slick-prev {
        left: -67px;
      }
  
      .slick-next {
        right: -45px;
      }
    }
  }
}

@media screen and(max-width: 372px) {
  #leadership-content {
    margin-top: 121px;
    margin-bottom: 0px;

    .leadership-pre-title {
      font-size: 16px;
    }

    .leadership-title {
      font-size: 48px;
    }

    .slider {
      width: 212px;

      .slick-arrow {
        width: 50px;
        height: 50px;
      }

      .slick-prev {
        left: -49px;
      }
  
      .slick-next {
        right: -44px;
      }
    }
  }
}
