#leadership-content {
  margin-top: 187px;
  margin-bottom: 20px;

  .leadership-pre-title {
    opacity: 0.8;
    color: #333234;
    font-family: 'ProximaNovaExBold' !important;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    text-align: center;
  }

  .leadership-title {
    color: #333234;
    font-family: 'ProximaNovaBold' !important;
    font-size: 89px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: -3.59px;
    margin-top: 25px;
    margin-bottom: 60px;
    text-align: center;
  }
}

//SLIDER STYLES
.slider-two {
  margin-top: 10px;
}

.slider, .slider-two {
  position: relative;

  .slick-track {
    display: flex;
    justify-content: space-around;
  }

  .slick-list {
    overflow: hidden;
  }

  //previous and next buttons
  .slick-arrow {
    position: absolute;
    top: 42%;
    z-index: 10;
    margin: -42px 0 0 0;
    border: 1px solid #e6e6e6;
    border-radius: 50%;
    background-color: #fff;
    width: 83px;
    height: 83px;
    font-size: 0;
  }

  .slick-prev {
    left: -101px;
  }

  .slick-prev:before {
    content: "←";
    color: #a6a6a6;
    font-size: 30px;
  }

  .slick-next {
    right: -101px;
  }

  .slick-next:before {
    content: "→";
    color: #a6a6a6;
    font-size: 30px;
  }
}

//ACTIVE SLIDE
.slick-slider {
  .slick-list {
    .slick-track {
      .slick-current {
        .border-box-color {
          border: 8px solid #f4f05e;
        }
      }
    }
  }
}

.slider-two {
  .slick-list {
    .slick-track {
      justify-content: flex-start;
    }
  }
}

@media screen and(max-width: 1386px) {
  #leadership-content {
    .slider, .slider-two {
      //width: 80vw;

      .slick-list {
        .slider-item {
          margin-left: 9px;
        }
      }

      .slick-arrow  {
        width: 73px;
        height: 73px;
      }
    }
  }
}

@media screen and(max-width: 1248px) {
  #leadership-content {
    .slider {
      width: 76vw;
    }
  }
}

@media screen and(max-width: 1070px) {
  #leadership-content {
    .slider {
      width: 649px;

      .slick-arrow  {
        width: 55px;
        height: 55px;
        top: 40%;
      }

      .slick-prev {
        left: -65px;
      }

      .slick-next {
        right: -65px;
      }
    }
  }
}

@media screen and(max-width: 804px) {
  #leadership-content {
    .leadership-title {
      font-size: 81px;
      margin-top: 20px;
      margin-bottom: 48px;
    }

    .slider {
      width: 460px;

      .slick-arrow {
        width: 55px;
        height: 55px;
        top: 48%;
      }

      .slick-prev {
        left: -80px;
      }

      .slick-next {
        right: -60px;
      }
    }
  }
}

@media screen and(max-width: 767px) {
  #leadership-content {
    margin-top: 131px;
  }
}

@media screen and(max-width: 672px) {
  #leadership-content {
    .slider {
      width: 229px;
    }
  }
}

@media screen and(max-width: 545px) {
  #leadership-content {
    margin-top: 128px;
    margin-bottom: 5px;

    .leadership-title {
      font-size: 53px;
      margin-top: 2px;
      margin-bottom: 15px;
    }

    .slider {
      .slick-prev {
        left: -67px;
      }
  
      .slick-next {
        right: -45px;
      }
    }
  }
}

@media screen and(max-width: 372px) {
  #leadership-content {
    margin-top: 121px;
    margin-bottom: 0;

    .leadership-pre-title {
      font-size: 16px;
    }

    .leadership-title {
      font-size: 48px;
    }

    .slider {
      width: 212px;

      .slick-arrow {
        width: 50px;
        height: 50px;
      }

      .slick-prev {
        left: -49px;
      }
  
      .slick-next {
        right: -44px;
      }
    }
  }
}
