#estimator-first {
  width: 1600px;
  margin: 0 auto 0;
  position: relative;
  display: flex;
  justify-content: center;

  .estimator-first-content-img {
    position: absolute;

    &:nth-child(1) {
      top: 431px;
      left: 148px;
    }

    &:nth-child(2) {
      left: 1172px;
      top: 68px;
    }

    &:nth-child(3) {
      left: 0;
      top: 39px;
      z-index: -1;
    }
  }

  .estimator-first-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;

    .estimator-first-content-title {
      color: #333234;
      font-size: 72px;
      font-weight: 700;
      line-height: 72px;
      letter-spacing: -2.91px;
      margin-bottom: 37px;
    }

    .estimator-first-content-text {
      width: 563px;
      color: #333234;
      font-family: "Proxima Nova";
      font-size: 18px;
      font-weight: 400;
      text-align: center;
      margin-bottom: 41px;
    }
  }
}
