.estimator-first {
  width: 1600px;
  height: 963px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;

  &-content-img {
    position: absolute;

    &:nth-child(1) {
      //top: 431px;
      top: 44.7559709242%;
      //left: 148px;
      left: 9.25%;
    }

    &:nth-child(2) {
      //left: 1172px;
      left: 73.25%;
      //top: 68px;
      top: 7.06126687435%;
    }

    &:nth-child(3) {
      left: 0;
      //top: 39px;
      top: 4.04984423676%;
      z-index: -1;
    }
  }

  &-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333234;

    &-title {
      font-size: 72px;
      font-weight: 700;
      line-height: 72px;
      letter-spacing: -2.91px;
      margin-bottom: 37px;
      //font-family: "Proxima Nova";
      font-family: Proxima Nova;
    }

    &-text {
      width: 563px;
      //font-family: "Proxima Nova";
      font-family: Proxima Nova;
      font-size: 18px;
      font-weight: 400;
      text-align: center;
      margin-bottom: 41px;
    }
  }
}

//RESPONSIVE
@media screen and (max-width: 1600px) {
  .estimator-first {
    width: 100vw;
  }
}

@media screen and (max-width: 1250px) {
  .estimator-first {
    &-content-img {
      &:nth-child(1) {
        width: 75%;
      }
      &:nth-child(2) {
        width: 26%;
      }
      &:nth-child(3) {
        width: 59%;
      }
    }
  }
}

@media screen and (max-width: 1170px) {
  .estimator-first {
    height: 875px;
    &-content-img {
      &:nth-child(2) {
        left: 81.25%;
        width: 19%;
      }
    }
    &-content {
      &-text {
        font-size: 16px;
      }
      .yellow-btn {
        font-size: 18px;
      }
    }
  }
}

@media screen and (max-width: 990px) {
  .estimator-first {
    height: 760px;
  }
}

@media screen and (max-width: 870px) {
  .estimator-first {
    &-content-img {
      &:nth-child(1) {
        top: 48.755971%;
      }
    }
  }
}

@media screen and (max-width: 820px) {
  .estimator-first {
    flex-direction: column-reverse;
    height: auto;
    &-content-img {
      &:nth-child(1) {
        margin-top: 140px;
        padding: 0 15px;
        position: static;
        width: 100%;
      }
      &:nth-child(2) {
        display: none;
      }
      &:nth-child(3) {
        display: none;
      }
    }
    &-content {
      position: static;
      padding: 0 15px;
      width: 100%;
      &-text {
        width: 100%;
        font-size: 18px;
      }
      .yellow-btn {
        font-size: 20px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .estimator-first {
    &-content {
      &-title {
        margin-bottom: 10px;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .estimator-first {
    &-content {
      &-title {
        font-size: 64px;
      }
    }
  }
}
