.current-status-content {
  width: 1600px;
  margin: -125px auto 0;
  position: relative;

  &-bg-separator {
    position: absolute;
  }

  &-section-img {
    margin: 263px 0 0 148px;
  }
}

@media screen and(max-width: 1599px) {
  .current-status-content {
    width: 1170px;

    &-section-img {
      margin: 263px 0 0 0;
    }
  }
}