.current-status-content {
  width: 1600px;
  //margin: -125px auto 0;
  margin: 0 auto;
  display: flex;

  position: relative;
  &-bg-separator {
    z-index: -5 !important;
    position: absolute;
    width: 100%;
  }
  &-section-img {
    width: 70%;
    margin: 263px 12.9375% 0;
  }
}


//RESPONSIVE
@media screen and (max-width: 1600px) {
  .current-status-content {
    width: 100vw;
  }
}

@media screen and(max-width: 820px) {
  .current-status-content {
    &-section-img {
      padding: 0 15px;
      //margin: 263px 15% 150px;
      width: 100%;
      margin: 140px auto 0;
      //margin: 0 auto;
      //margin: 263px 0 150px;
    }
  }
}
