.current-status-content {
  width: 1600px;
  margin: 140px auto 0;
  position: relative;

  .current-status-bg-separator {
    position: absolute;
  }

  .current-status-section-img {
    margin: 263px 0 0 148px;
  }
}
