.salesforce-consulting {
  margin-top: -79px;
  position: relative;
  display: flex;
  justify-content: center;

  .salesforce-consulting-content {
    width: 1600px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;

    .content {
      height: 492px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      
      h3 {
        margin-top: 30px;
        width: 489px;
        color: #ffffff;
        font-family: 'ProximaNovaBold' !important;
        font-size: 33px;
        font-weight: 700;
        letter-spacing: 1.65px;
        text-align: center;
      }

      p {
        margin-top: 28px;
        width: 489px;
        color: #c2c2c2;
        font-family: "Proxima Nova";
        font-family: Proxima Nova;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 0.9px;
        text-align: center;
        margin-bottom: 42px;
      }
    }

    .content-left, .content-right {
      img:nth-child(1) {
        width: 129px;
        height: 129px;
      }
    }
    
    .content-right {
      h3 {
        width: 488px;
        margin-top: 30px;
      }

      p {
        width: 488px;
        margin-top: 24px;
        margin-bottom: 46px;
      }
    }
  }
}

//RESPONSIVE
@media screen and (min-width: 1601px) {
  .salesforce-consulting {
    background-color: #2a2a2b;
    background: linear-gradient(90deg, rgba(45, 44, 45, 1) 30%,rgba(255, 255, 255, 1) 35%,rgba(255, 255, 255, 1) 50%, rgba(51, 50, 52, 1) 75%);
  }
}

@media screen and (max-width: 1600px) {
  .salesforce-consulting-content {
    width: 100vw !important;
  }
}
@media screen and (max-width: 1200px) {
  .salesforce-consulting {
    width: unset;
    .salesforce-consulting-content {
      //padding: 0 20px;
      justify-content: space-around;
      .content {
        h3 {
          font-size: 26px;
          width: 400px;
        }

        p {
          font-size: 15px;
        }
      }
    }
  }
}

@media screen and (max-width: 1165px) {
  .salesforce-consulting {
    .salesforce-consulting-content {
      .content {
        h3 {
          font-size: 24px;
          width: 375px;
        }
        p {
          width: 420px;
        }
      }
    }
  }
}


@media screen and (max-width: 1020px) {
  .salesforce-consulting {
    .salesforce-consulting-content {
      .content {
        p {
          width: 380px;
        }
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .salesforce-consulting {
    .salesforce-consulting-content {
      //padding: 0 90px;
      justify-content: space-evenly;
      .content {
        h3 {
          font-size: 24px;
          width: 340px;
        }
        p {
          width: 340px;
        }
      }
    }
  }
}

@media screen and (max-width: 820px) {
  .salesforce-consulting > img{
      display: none;
  }

  .salesforce-consulting {
    height: 984px;
  }

  .salesforce-consulting-content {
    display: flex;
    flex-direction: column !important;

    .content {
      height: auto !important;
      width: 100vw;
      //padding: 0 15px;
      //padding: 30px 15px;
      padding: 85px 15px;
      h3 {
        font-size: 33px !important;
        //width: 488px !important;
        width: 100% !important;
      }
      p {
        font-size: 18px !important;
        //width: 488px !important;
        width: 100% !important;
      }
    }

    .content-left {
      background-color: rgb(45, 44, 45);
      width: 100%;
    }
    .content-right {
      background-color: rgb(51, 50, 52);
      width: 100%;
    }
  }
}

@media screen and (max-width: 630px) {
  .salesforce-consulting-content {
    .content {
      padding: 60px 15px;
    }
  }
}

@media screen and (max-width: 400px) {
  .salesforce-consulting-content {
    .content {
      padding: 40px 15px;
    }
  }
}

@media screen and (max-width: 340px) {
  .salesforce-consulting-content {
    .content {
      padding: 30px 15px;
    }
  }
}

