.footer-container {
    position: relative;
    z-index: 99;
    margin-top: -85px;

    .footer-content {
        display: flex;
        justify-content: center;
        align-items: center;
    
        .footer-bg-content {
            position: absolute;
            display: flex;
            justify-content: space-between;

            .footer-menu-container {
                display: flex;
                justify-content: space-between;
                padding-top: 29px;
                width: 700px;
                z-index: 1;

                li {
                    color: #ffffff;
                    font-family: "Proxima Nova";
                    font-size: 20px;
                    font-weight: 400;
                    letter-spacing: 0.5px;
                }
            }
        }

        .footer-right-img {
            position: absolute;
            margin-left: 620px;
            margin-top: 5px;
        }
    }
}

@media screen and(max-width: 1799px) {
    .footer-container {
        overflow: hidden;
    }
}