.contacts-container, .contacts-container-success {
    position: relative;
    display: flex;
    justify-content: center;
    
    .contacts-bg-one {
        position: relative;

        .contacts-yellow-bg-grid {
            position: absolute;
            left: 0;
            z-index: -1;
        }
    
        .contacts-brown-img {
            position: absolute;
            top: 96px;
            left: 143px;
            z-index: -1;
        }
    
        .contacts-circles {
            position: absolute;
            top: 154px;
            z-index: -1;
            margin-left: 995px;
        }
    }

    .contacts-bg-two {
       margin-top: 290px;
    }

    .contacts-bg-two-hide {
        margin-top: 0;
    }

    .contacts-left-right-container {
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        top: 400px;
        padding-left: 65px;
        padding-right: 10px;

        .contacts-left {
            margin-top: 30px;

            .contacts-pre-title {
                color: #ffffff;
                //font-family: "Proxima Nova";
                font-family: Proxima Nova;
                font-size: 18px;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: 3.6px;
                margin-bottom: 20px;
            }

            .contacts-title {
                width: 359px;
                color: #ffffff;
                //font-family: "Proxima Nova";
                font-family: Proxima Nova;
                font-size: 72px;
                font-weight: 700;
                letter-spacing: -2.91px;
                margin-bottom: 53px;
            }

            .contacts-left-content {
                display: flex;
                flex-direction: row;
                margin-bottom: 20px;
                align-items: center;

                .contacts-left-content-img {
                    margin-right: 24px;
                }
                

                #location-img {
                    display: flex;
                    align-self: flex-start;
                }

                .contacts-left-content-text {
                    width: 182px;
                    color: #ffffff;
                    //font-family: "Proxima Nova";
                    font-family: Proxima Nova;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 30px;
                    letter-spacing: 0.18px;
                }

                .location-text {
                    margin-top: -9px;

                    .location-text-p {
                        line-height: 2.1;
                    }
                }
            }

            .reach-us-content {
                margin-top: 65px;
                position: relative;

                .reach-us-title {
                    margin-bottom: 22px;
                    width: 115px;
                    color: #ffffff;
                    //font-family: "Proxima Nova";
                    font-family: Proxima Nova;
                    font-size: 18px;
                    font-weight: 400;
                    letter-spacing: 0.18px;
                    margin-left: 10px;

                }

                .reach-us-icons-container {
                    width: 220px;
                    height: 36px;
                    position: relative;

                    .reach-us-icons {
                        position: absolute;

                        // a {
                        //     .instagram {
                        //         position: absolute;
                        //         left: 0;
                        //         top: 0;
                        //         z-index: 0;
                        //     }

                        //     .pinterest {
                        //         //position: absolute;
                        //         top: 0;
                        //         z-index: 1;
                        //     }

                        //     .facebook {
                        //         //position: absolute;
                        //     }
                        // }
                    }
                }
            }
        }
    
        .contacts-right {
            position: relative;
            display: flex;
    
            .contact-form-container {
                position: relative;

                .contact-form-top {
                    border-top-left-radius: 30px;
                    border-top-right-radius: 30px;
                    width: 594px;
                    height: 109px;
                    background-color: #f4f05e;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .contact-form-title {
                        color: #333234;
                        //font-family: "Proxima Nova";
                        font-family: Proxima Nova;
                        font-size: 33px;
                        font-weight: bolder;
                        letter-spacing: -0.67px;
                    }
                }

                .contact-form-user-data {
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    padding-left: 60px;
                    padding-right: 60px;
                    padding-top: 54px;
                    width: 594px;
                    height: 605px;
                    background-color: #2a2a2b;
                    border-bottom-left-radius: 30px;
                    border-bottom-right-radius: 30px;
        
                    .user-data {
                        border-bottom-color: #f4f05e;
                        border-top: none;
                        border-right: none;
                        border-left: none;
                        background-color: #2a2a2b;
                        margin-bottom: 35px;
                        height: 40px;
        
                        &::placeholder {
                            width: 113px;
                            opacity: 0.5;
                            color: #ffffff;
                            //font-family: "Proxima Nova";
                            font-family: Proxima Nova;
                            font-size: 27px;
                            font-weight: 400;
                            letter-spacing: 0.27px;
                        }
                    }
        
                    #message {
                        height: 120px;
                    }
        
                    .user-data-btn {
                        width: 484px;
                        height: 59px;
                        background-color: #f4f05e;
                        color: #2a2a2b;
                        //font-family: "Proxima Nova";
                        font-family: Proxima Nova;
                        font-size: 27px;
                        font-weight: 700;
                        letter-spacing: 0.27px;
                        border-radius: 30px;
                    }
                }
            }
    
        }
    }

    .contacts-left-right-container-hide {
        top: 110px;
    }
}

.contacts-container-success {
    margin-top: -45px !important;
}

@media screen and(max-width: 1799px) {
    .contacts-container, .contacts-container-success {
        overflow: hidden;
    }
}

@media screen and (max-width: 1170px) {
    .contacts-left-right-container {
        width: 100vw;
    }
}

@media screen and (max-width: 1030px) {
    .contacts-left-right-container {
        padding-left: 60px !important;
        padding-right: 60px !important;
    }
    .contacts-right {
        width: 60%;
        .contact-form-container {
            width: 100%;

            .contact-form-top {
                width: auto !important;
                height: auto !important;
                padding: 20px;
            }
            .contact-form-user-data {
                position: static !important;
                margin: 0 !important;
                padding: 20px 50px 60px !important;
                width: auto !important;
                height: auto !important;
                .user-data-btn {
                    width: 100% !important;
                }
            }
        }
    }
}

@media screen and (max-width: 915px) {
    .contacts-right {
        .contact-form-container {
            .contact-form-top {
                .contact-form-title {
                    font-size: 26px !important;
                }
            }
        }
    }
}

@media screen and (max-width: 820px) {
    .contacts-container, .contacts-container-success {
        margin-top: 100px;
        .contacts-bg-one {
            display: none;
        }
        .contacts-bg-two {
            display: none;
        }
        .contacts-bg-two-hide {
            display: none;
        }
        .contacts-left-right-container {
            position: static;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 60px 15px !important;
            background-color: rgb(45, 45, 45);
            margin-top: 44px;

            .contacts-left {
                width: 100%;
                margin: 0 0 60px;

                .contacts-pre-title {
                    width: 100%;
                    text-align: center;
                }
                .contacts-title {
                    width: 100%;
                    text-align: center;
                }
                .contacts-left-content {
                    justify-content: center;
                }
                .reach-us-content {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .reach-us-title {
                        margin: 0 0 22px 0;
                    }
                }
            }
            .contacts-right {
                width: 80%;
                .contact-form-container {
                    margin-bottom: 88px;
                }
            }
        }
    }
}
//@media screen and (max-width: 820px) {
//    .contacts-container-success {
//        margin-top: 0 !important;
//    }
//    }


@media screen and (max-width: 630px) {
    .contacts-container, .contacts-container-success {
        .contacts-left-right-container {
            padding: 30px 15px !important;
            .contacts-left {
                .contacts-title {
                    font-size: 46px;
                }
                .contacts-left-content {
                    &-text {
                        font-size: 16px !important;
                    }
                    .location-text {
                        .location-text-p {
                            font-size: 16px;
                        }
                    }
                }
            }
            .contacts-right {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 460px) {
    .contacts-container, .contacts-container-success {
        .contacts-left-right-container {
            .contacts-right {
                .contact-form-container {
                    .contact-form-top {
                        .contact-form-title {
                            font-size: 22px !important;
                        }
                    }
                    .contact-form-user-data > * {
                        font-size: 22px !important;
                    }
                }
            }
        }
    }
}
