.air-asia {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;


  .air-asia-bg {
    margin-top: -250px;
    position: relative;
    z-index: -3;
  }

  .air-asia-top {
    position: absolute;
    display: flex;
    margin-top: 65px;
    margin-bottom: 30px;

    .white-opacity-wrapper {
      position: relative;
      margin-right: 65px;
      margin-left: 65px;

      .white-img-wrapper {
        opacity: 0.2;
      }

      .white-content-wrapper {
        background-color: #fff;
        width: 645px;
        height: 316px;
        position: absolute;
        top: 72px;
        right: -75px;
        border-radius: 8px;
        z-index: 99;
        opacity: 0.7;
      }

      .air-asia-top-content {
        width: 645px;
        height: 316px;
        box-shadow: 0 1px 32px rgba(0, 0, 1, 0.18);
        background-color: #ffffff;
        position: absolute;
        top: 72px;
        right: -75px;
        border-radius: 8px;
        padding: 13px 27px 17px 49px;

        h3, p {
          color: #333234;
          font-family: "Proxima Nova";
        }

        h3 {
          font-size: 30px;
          font-weight: 700;
          line-height: 72px;
          letter-spacing: -1.21px;
        }

        p {
          width: 482px;
          font-size: 18px;
          font-weight: 400;
          line-height: 24px;
        }

        .air-asia-top-content-bottom {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .ceo {
            display: flex;
            flex-direction: column;

            span {
              color: #333234;
              font-family: "Proxima Nova";

              &:nth-child(1) {
                font-size: 20px;
                font-weight: 700;
                margin-bottom: 6px;
              }
      
              &:nth-child(2) {
                opacity: 0.7;
                font-size: 18px;
                font-weight: 400;
                margin-left: 5px;
              } 
            }
          }

          #air-asia-icon {
            margin-right: 35px;
          }
        }
      }
    }
  }

  .air-asia-bottom {
    width: 157px;
    display: flex;
    justify-content: space-between;
    margin-top: 73px;

    .bottom-left-btn, .bottom-right-btn {
      width: 39px;
      height: 47px;
      border: transparent;
      border-radius: 50%;
      background-color: #fff;

      .arrow-left-btn, .arrow-right-btn {
        display: block;
        width: 25px;
        height: 25px;
        border-top: 6px solid #000;
        border-left: 6px solid #000;
      }
    }

    .bottom-left-btn {
      .arrow-left-btn {
        transform: rotate(-46deg);
        margin-left: 4px;
      }
    }

    .bottom-right-btn {
      .arrow-right-btn {
        transform: rotate(134deg);
      }
    }
  }
}
