.air-asia {
  width: 1600px;
  margin: 146px auto 0;

  .air-asia-bg {
    margin-top: -396px;
    position: absolute;
    z-index: -3;
  }

  //SLIDER STYLES
  .slider {
    position: relative;

    //previous and next buttons
    .slick-arrow {
      border-radius: 0;
      width: 30px;
      height: 30px;
      border-top-color: transparent;
      border-right-color: transparent;
      border-left: 8px solid #333234;
      border-bottom: 8px solid #333234;
      background-color: transparent;
    }

    .slick-prev {
      left: 44.1875%;
      top: 520px;
      transform: rotate(45deg);
    }

    .slick-next {
      left: 54%;
      top: 520px;
      transform: rotate(225deg);
    }

    .slick-prev:before, .slick-next:before {
      font-size: 0;
    }

    .slick-list {
      .slick-track {
        .slick-slide {
          width: 836px !important;
          opacity: .2;

          & > div {
            //width: 786px;
            width: 836px;
          }
        }
        .slick-current {
          opacity: 1;
        }
      }
    }
    &-item {
      position: relative;
      text-align: left;
      height: 444px;

      &-img {
        position: absolute;
        left: 0;
        top: 0;
      }

      &-content {
        position: absolute;
        top: 72px;
        left: 141px;
        width: 645px;
        height: 316px;
        box-shadow: 0 1px 32px rgba(0, 0, 1, 0.18);
        background-color: #ffffff;
        border-radius: 15px;
        padding: 41px 74px 35px 59px;
        color: #333234;

        &-img {
          position: absolute;
          left: 490px;
          top: 215px;
        }

        &-header {
          font-family: "Proxima Nova";
          font-size: 30px;
          font-weight: 700;
          letter-spacing: -1.21px;
          padding-bottom: 26px;
        }

        &-text {
          font-family: "Proxima Nova";
          font-size: 18px;
          font-weight: 400;
          line-height: 24px;
          padding-bottom: 31px;
        }

        &-author {
          display: flex;
          flex-direction: column;

          span:nth-child(1) {
            font-family: "Proxima Nova";
            font-size: 20px;
            font-weight: 700;
            padding-bottom: 9px;
          }

          span:nth-child(2) {
            font-family: "Proxima Nova";
            font-size: 18px;
            font-weight: 400;
            padding-left: 7px;
          }
        }
      }
    }

    .slick-track {
      display: flex;
    }

    .slick-list {
      overflow: hidden;
    }
  }
}

@media screen and(max-width: 1599px) {
  .air-asia {
    width: unset;
  }
}
