.air-asia {
  width: 1600px;
  margin: 146px auto 0;
  position: relative;

  .air-asia-bg {
    margin-top: -396px;
    position: absolute;
    z-index: -3;
  }

  //SLIDER STYLES
  .slider {
    position: relative;

    //previous and next buttons
    .slick-arrow {
      border-radius: 0;
      width: 30px;
      height: 30px;
      border-top-color: transparent;
      border-right-color: transparent;
      border-left: 8px solid #333234;
      border-bottom: 8px solid #333234;
      background-color: transparent;
    }

    .slick-prev {
      left: 44.1875%;
      top: 520px;
      transform: rotate(45deg);
    }

    .slick-next {
      left: 54%;
      top: 520px;
      transform: rotate(225deg);
    }

    .slick-prev:before, .slick-next:before {
      font-size: 0;
    }

    .slick-list {
      .slick-track {
        .slick-slide {
          width: 836px !important;
          opacity: .2;

          & > div {
            //width: 786px;
            width: 836px;
          }
        }
        .slick-current {
          opacity: 1;
        }
      }
    }
    &-item {
      position: relative;
      text-align: left;
      height: 444px;

      &-img {
        position: absolute;
        left: 0;
        top: 0;
      }

      &-content {
        position: absolute;
        top: 72px;
        left: 141px;
        width: 645px;
        height: 316px;
        box-shadow: 0 1px 32px rgba(0, 0, 1, 0.18);
        background-color: #ffffff;
        border-radius: 15px;
        padding: 41px 74px 35px 59px;
        color: #333234;

        &-img {
          position: absolute;
          left: 490px;
          top: 215px;
        }

        &-header {
          font-family: "Proxima Nova";
          font-size: 30px;
          font-weight: 700;
          letter-spacing: -1.21px;
          padding-bottom: 26px;
        }

        &-text {
          font-family: "Proxima Nova";
          font-size: 18px;
          font-weight: 400;
          line-height: 24px;
          padding-bottom: 31px;
        }

        &-author {
          display: flex;
          flex-direction: column;

          span:nth-child(1) {
            font-family: "Proxima Nova";
            font-size: 20px;
            font-weight: 700;
            padding-bottom: 9px;
          }

          span:nth-child(2) {
            font-family: "Proxima Nova";
            font-size: 18px;
            font-weight: 400;
            padding-left: 7px;
          }
        }
      }
    }

    .slick-track {
      display: flex;
    }

    .slick-list {
      overflow: hidden;
    }
  }
}

@media screen and(max-width: 1599px) {
  .air-asia {
    //width: unset;
  }

  .slider {
    .slick-list {
      .slick-track {
        .slider-item {
          .slider-item-img {
            width: 45vw;
            left: 1vw;
            top: 0vw;
            position: relative;
          }
    
          .slider-item-content {
            top: 3vw;
            left: 12vw;
            width: 38vw;
            //height: unset;
            padding: 2vw 2.3vw 2vw 2.4vw;
    
            .slider-item-content-img {
              left: unset;
              right: 4vw;
              top: unset;
              bottom: 10px;
            }

            .slider-item-content-header {
              padding-bottom: 15px
            }

            .slider-item-content-text {
              padding-bottom: 24px;
            }
          }
        }
      }
    }
  }
}

@media screen and(max-width: 1430px) {
  .air-asia {
    width: 1430px;

    .slider {
      .slick-list {
        .slick-track {
          .slick-slide {
            width: 396px !important;
  
            & > div {
              width: 396px !important;
            }
          }

        }
      }
    }
  }
}

@media screen and(max-width: 1346px) {
  .air-asia {
    width: 1346px;

    .slider {
      .slick-list {
        .slick-track {
          .slider-item {
            .slider-item-img {
              width: 600px;
            }

            .slider-item-content {
              width: 500px;
              top: 35px;
              left: 160px;
            }
          }

          .slick-slide {
            width: 706px !important;
  
            & > div {
              width: 706px !important;
            }
          }
        }
      }
    }
  }
}

@media screen and(max-width: 1000px) {
  .air-asia {
    width: 1000px;
    
    .slider {
      .slick-list {
        .slick-track {
          .slider-item {
            .slider-item-img {
              width: 600px;
            }

            .slider-item-content {
              width: 500px;
              top: 35px;
              left: 160px;
            }
          }

          .slick-slide {
            //width: unset !important;
  
            & > div {
              //width: unset !important;
            }
          }
        }
      }
    }
  }
}

@media screen and(max-width: 894px) {
  .air-asia {
    width: 894px;
    
    .slider {

      .slick-arrow {
        top: 441px;
      }
      .slick-list {
        padding: 0px 75px;

        .slick-track {
          .slider-item {

            .slider-item-img {
              width: 550px;
            }

            .slider-item-content {
              width: 470px;
              top: 35px;
              left: 140px;
              padding: 2vw 2.3vw 2vw 2.4vw;
              height: unset;

              .slider-item-content-img {
                bottom: 0px;
                width: 14vw;
              }
  
              .slider-item-content-header {
                padding-bottom: 11px;
                font-size: 28px;
              }
  
              .slider-item-content-text {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and(max-width: 723px) {
  .air-asia {
    width: 723px;
    
    .slider {

      .slick-arrow {
        top: 531px;
      }

      .slick-prev {
        left: 40px;
      }

      .slick-next {
        left: 89vw;
      }

      .slick-list {
        padding: 0px 65px;

        .slick-track {
          .slider-item {
            margin-left: -64px;

            .slider-item-img {
              //width: 752px;
              width: 105vw;
            }

            .slider-item-content {
              top: 14vw;
              left: 17vw; 
              width: 75vw;   
              padding: 25px;      

              .slider-item-content-img {
                bottom: 11px;
                width: 14vw;
              }
  
              .slider-item-content-header {
                padding-bottom: 11px;
                font-size: 28px;
              }
  
              .slider-item-content-text {
                font-size: 17px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and(max-width: 500px) {
  .air-asia {
    .slider {
      .slick-next {
        left: 82vw;
      }
    }
  }
}

@media screen and(max-width: 403px) {
  .air-asia {
    .slider {
      .slick-arrow {
        top: 650px;
      }

      .slick-next {
        left: 82vw;
      }

      .slick-list {

        .slick-track {
          .slider-item {
            height: 578px;

            .slider-item-content {
              left: 19.5vw;
            }
          }
        }
      }
    }
  }
}