.salesforce-product-content {
  width: inherit;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 37%;

  .salesforce-product-content-left {
    width: 50%;
    position: relative;

    .content-left-img {
      position: absolute;
    }

    .content-left-yellow-circle {
      position: absolute;
      top: -64px;
      left: 84px;
    }

    .content-left-half-cirle {
      position: absolute;
      top: -45px;
      left: -45px;
      z-index: -1;
    }

    .content-left-two-circles {
      position: absolute;
      right: -30px;
      top: -25px;
    }

    .content-left-curvy-bg {
      position: absolute;
      top: 200px;
      left: -390px;
      z-index: -1;
    }

    .content-left-two-triangles {
      position: absolute;
      left: -30px;
      bottom: -60px;
    }

    .content-left-yellow-circle-two {
      position: absolute;
      width: 176px;
      height: 176px;
      border-radius: 80%;
      background-color: #f4f05e;
      bottom: -157px;
      left: 249px;
      z-index: -1;
    }

    .content-left-yellow-grid {
      position: absolute;
      right: 0;
      bottom: -220px;
      z-index: -2;
    }
  }

  .salesforce-product-content-right {
    padding-left: 20px;
    width: 46.5%;
    margin-top: 55px;

    .salesforce-product-content-title {
      color: #333234;
      //font-family: "Proxima Nova";
      font-size: 45px;
      font-weight: 700;
      letter-spacing: -1.82px;
      margin-bottom: 26px;
    }

    .salesforce-product-content-text {
      width: 480px;
      color: #333234;
      //font-family: "Proxima Nova";
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 41px;
    }
  }
}
