.products-container {
  //margin: 0 auto;
  //width: 1600px;
  display: flex;
  flex-direction: row;
  position: relative;

  .products-left {
    //margin-left: 222px;
    color: #333234;
    margin-left: 20px;

    &-title {
      font-size: 89px;
      font-weight: 700;
      line-height: 90px;
      letter-spacing: -3.6px;
      margin: 124px 0 45px -5px;
      font-family: "Proxima Nova";
    }

    &-text {
      p {
        width: 498px;
        font-family: "Proxima Nova";
        font-size: 18px;
        font-weight: 400;
      }
    }
  }

  .products-right {
    // position: absolute;
    // right: 0;
    margin-top: -30px;
    margin-left: 125px;
  }
}

@media screen and(max-width: 1599px) {

}