.products-container{
  display: flex;
  flex-direction: row;

  .products-left {
    margin-left: 24px;

    .products-left-title {
      width: 321px;
      color: #333234;
      font-size: 89px;
      font-weight: 700;
      line-height: 90px;
      letter-spacing: -3.6px;
      margin-bottom: 45px;
      margin-top: 124px;
      margin-left: -5px;
    }

    .products-left-text {
      p {
        width: 498px;
        color: #333234;
        font-family: "Proxima Nova";
        font-size: 18px;
        font-weight: 400;
      }
    }
  }

  .products-right {
    position: absolute;
    right: 0;
    margin-top: -30px;

    .products-img {
      width: 734px;
      height: 629px;
    }
  }
}